<!DOCTYPE html>
<html>
  <head>
    <title>Quote of the Day Generator</title>

    <link rel="stylesheet" href="styles/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cal+Sans&family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="main-screen" class="screen" style="overflow: scroll">
      <div>
        <div class="quote-history-header cal-sans-regular">
          <a href="/" style="color: black; font-size: 1.2rem">Go back</a>
          <div>Quote History</div>
        </div>
        <div class="jost-400"><%- tableHTML %></div>
      </div>
    </div>

    <script></script>
  </body>
</html>
